body{
    color: rgb(27, 119, 27);
    /*background-color: #D2FFD2;*/
    font-size: 14px;
    font-weight: 400;
    align: justify;
    font-family: "Arial";
}

.head1{
    background-color: #CEFFD9;
}

h1{
    text-align: center;
    font-size: 20pt;
    font-family: "Arial";
    color: #006400;
}

h2{
    font-size: 18px;
    text-align: center;
    color: #006400;
    margin-left: 0px;
    margin-bottom: 2px;
    margin-top: 2px;

}

p{
    text-indent: 1cm;
    margin-bottom: 10px;
    margin-top: 10px;
}

.p1{
    color: #006400;
    font-weight: 600;
    margin: 5px;
}

.answer{
    font-weight: 400;
    text-align: right;
    color: #228B22;
}

.block{
    padding-top: 10px;
    padding-left: 5px;
    height: 350px;
}

.profile{
    margin-left: 5%;
    width: 20%;
    border: 2px solid #006400;
    float: left;
}

.about{
    width: 65%;
    float: right;
    height: 350px;
    margin-left: 1%;
    margin-right: 5%;
    padding-right: 15px;
    padding-left: 15px;
    border: 2px solid #006400;
}
.cc{
    clear:both;
}

.foot{
    font-size: 12px;
    margin-right: 6%;
}
